body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-outfit: Outfit;
  --font-space-grotesk: "Space Grotesk";
  --font-inter: Inter;

  /* font sizes */
  --font-size-xl-2: 20.2px;
  --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-21xl: 40px;
  --font-size-13xl: 32px;
  --font-size-29xl: 48px;
  --font-size-10xl: 29px;
  --font-size-19xl: 38px;
  --font-size-xl: 20px;
  --font-size-3xl: 22px;
  --font-size-lg: 18px;
  --font-size-45xl: 64px;
  --font-size-32xl: 51px;
  --font-size-sm: 14px;
  --font-size-11xl: 30px;
  --font-size-17xl: 36px;
  --font-size-2xl: 21px;
  --font-size-4xs-4: 8.4px;
  --font-size-5xs-2: 7.2px;
  --font-size-mini-4: 14.4px;
  --font-size-8xl: 27px;
  --font-size-16xl: 35px;
  --font-size-9xl: 28px;
  --font-size-7xl: 26px;

  /* Colors */
  --pf-grey: #8a8a8a;
  --color-gray-100: #808080;
  --color-gray-200: #272422;
  --color-gray-300: #1c1c1c;
  --color-gray-400: #1c1817;
  --pf-dark: #100a07;
  --color-gray-500: #05050a;
  --color-gray-600: rgba(255, 255, 255, 0.41);
  --color-gray-1500: rgba(255, 255, 255, 0.57);
  --color-gray-800: rgba(255, 255, 255, 0.4);
  --color-gray-900: rgba(28, 28, 28, 0.2);
  --color-gray-1000: rgba(28, 28, 28, 0.8);
  --color-gray-1100: rgba(28, 28, 28, 0.4);
  --color-gray-1200: rgba(28, 28, 28, 0.1);
  --color-gray-1300: rgba(253, 254, 255, 0.93);
  --color-gray-1400: rgba(255, 255, 255, 0.66);
  --pf-white: #fff;
  --color-dimgray-100: rgba(123, 111, 106, 0.8);
  --color-darksalmon: rgba(255, 186, 154, 0.05);
  --pf-primary: #ff4f00;
  --color-orangered-100: rgba(255, 79, 0, 0.2);
  --romboframerwebsite-black: #000;
  --color-aliceblue-100: #e3f5ff;
  --color-aliceblue-200: #e5ecf6;
  --color-aliceblue-300: rgba(239, 247, 255, 0.62);
  --color-whitesmoke: #f7f9fb;
  --color-paleturquoise: #a1e3cb;
  --color-lightsteelblue: #a8c5da;
  --color-lightblue: #b1e3ff;
  --color-darkseagreen: #baedbd;
  --color-cornflowerblue: #95a4fc;
  --color-mistyrose-100: #ffe8de;
  --color-mistyrose-200: #ffdfd0;

  /* Spacing */
  --boundvariablesdata: 9.600000381469727px;
  --boundvariablesdata1: 2.4000000953674316px;
  --boundvariablesdata2: 4.800000190734863px;
  --boundvariablesdata3: 24px;
  --boundvariablesdata4: 16.80000114440918px;
  --boundvariablesdata5: 16.80000114440918px;
  --boundvariablesdata6: 7.200000286102295px;
  --boundvariablesdata8: 4.800000190734863px;
  --boundvariablesdata10: 12px;

  /* Gaps */
  --gap-lgi: 19px;
  --gap-19xl: 38px;
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-xl: 20px;
  --gap-3xs: 10px;
  --gap-mini: 15px;
  --gap-23xl: 42px;
  --gap-2xl: 21px;
  --gap-mid: 17px;
  --gap-4xs: 9px;
  --gap-5xs: 8px;
  --gap-26xl: 45px;
  --gap-21xl: 40px;
  --gap-5xl: 24px;
  --gap-smi: 13px;
  --gap-12xl: 31px;
  --gap-43xl: 62px;
  --gap-3xl: 22px;
  --gap-11xl: 30px;
  --gap-9xl: 28px;
  --gap-44xl: 63px;
  --gap-base-8: 16.8px;
  --gap-3xs-6: 9.6px;
  --gap-10xs-4: 2.4px;
  --gap-8xs-8: 4.8px;
  --gap-9xs-2: 3.2px;
  --gap-6xs-6: 6.6px;
  --gap-9xs-8: 3.8px;
  --gap-7xs-2: 5.2px;
  --gap-xs-6: 11.6px;
  --gap-11xs-2: 1.2px;
  --gap-15xs: -2px;
  --gap-16xl: 35px;
  --gap-14xl: 33px;
  --gap-41xl: 60px;

  /* Paddings */
  --padding-68xl: 87px;
  --padding-5xl: 24px;
  --padding-xl: 20px;
  --padding-11xs: 2px;
  --padding-12xs: 1px;
  --padding-33xl: 52px;
  --padding-3xl: 22px;
  --padding-15xl: 34px;
  --padding-44xl: 63px;
  --padding-17xl: 36px;
  --padding-12xl: 31px;
  --padding-2xl: 21px;
  --padding-8xl: 27px;
  --padding-2xs: 11px;
  --padding-base: 16px;
  --padding-83xl: 102px;
  --padding-6xl-2: 25.2px;
  --padding-7xl: 26px;
  --padding-6xl-6: 25.6px;
  --padding-13xl: 32px;
  --padding-14xl: 33px;
  --padding-7xs: 6px;
  --padding-mid: 17px;
  --padding-40xl: 59px;
  --padding-34xl: 53px;
  --padding-54xl: 73px;
  --padding-sm: 14px;
  --padding-16xl: 35px;
  --padding-29xl: 48px;
  --padding-mini-3: 14.3px;
  --padding-smi: 13px;
  --padding-mini-4: 14.4px;
  --padding-6xs: 7px;
  --padding-4xs: 9px;
  --padding-10xs-4: 2.4px;
  --padding-3xs: 10px;
  --padding-5xs: 8px;
  --padding-31xl: 50px;
  --padding-38xl: 57px;
  --padding-3xs-6: 9.6px;
  --padding-59xl: 78px;
  --padding-8xs-8: 4.8px;
  --padding-9xs: 4px;
  --padding-47xl: 66px;
  --padding-45xl: 64px;
  --padding-43xl: 62px;
  --padding-base-8: 16.8px;
  --padding-5xs-2: 7.2px;
  --padding-8xs: 5px;
  --padding-7xs-4: 5.4px;
  --padding-smi-6: 12.6px;
  --padding-xs: 12px;
  --padding-10xs: 3px;
  --padding-11xs-2: 1.2px;
  --padding-9xl-6: 28.6px;
  --padding-7xs-5: 5.5px;
  --padding-101xl: 120px;
  --padding-18xl: 37px;
  --padding-25xl: 44px;
  --padding-4xl: 23px;
  --padding-42xl: 61px;
  --padding-36xl: 55px;
  --padding-24xl: 43px;
  --padding-50xl: 69px;
  --padding-35xl: 54px;
  --padding-6xl: 25px;

  /* Border radiuses */
  --br-5xl: 24px;
  --br-31xl: 50px;
  --br-3xs: 10px;
  --br-21xl: 40px;
  --br-xs: 12px;
  --br-381xl: 400px;
  --br-base: 16px;
  --br-9980xl: 9999px;
  --br-206xl: 225px;
  --br-5xs: 8px;
  --br-61xl: 80px;
  --br-3xs-6: 9.6px;
  --br-8xs-8: 4.8px;
  --br-6xs: 7px;
  --br-81xl: 100px;
}
